* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  margin: auto;
}

.container {
  display: grid;
  grid-template-columns: 15% 85%;
  grid-template-rows: 50px 150px 30px 290px auto;
}

menu {
  grid-row-start: 1 ;
  grid-row-end: 6;
  background-color: #374050;
  color: grey;
  height: 100%;
  width: 100%;
  padding: 0;
}

.menu-header {
  padding: 10px 0 0 5px;
  font-size: .8em;
}

.menu-arrow {
  height: 7px;
  width: 7px;
  display: none;
}

.profile {
  text-align:center;
  border-bottom: 1px solid black;
  padding: 30px 0;
}

.profile-picture {
  border-radius: 50%;
  width: 60px;
  height: 60px;
}

.icon-small {
  height: 15px;
  display: inline;
}

ul li {
  padding: 10px;
  font-size: .7em;
}

ul li:hover {
  background-color: black;
}

li:hover {
  color:white;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  text-transform: uppercase
}
.checkmark {
  height: 1em;
  width: auto;
}

.categories-text {
  text-transform: none;
}

.search-bar {
  display: grid;
  grid-template-columns: 50px auto 50px 50px 50px;
  grid-column: 2 / 3;
  grid-row: 1;
  width: 100%;
  border-bottom: 1px solid #ABABAB;
  height: 100%;
}

.search-bar-icon {
  color: grey;
  height: 50px;
  width: auto;
  padding: 15px;
  padding-left: 18px;
  margin: 0;
  border-right: .2px solid #ABABAB;
  vertical-align: middle;
}

.search-bar-icon:hover {
  background-color: #45A4EF;
}

.search-bar-icon:hover {
  background-color: #45A4EF;
  color: white;
}

.search-user {
  border-left: .2px solid #ABABAB;
  padding-left: 17px;
}

.search-input {
  background-image: url(Images/magnifying-glass.svg);
  background-size: 15px;
  background-repeat: no-repeat;
  background-position: left;
  border: none;
  text-indent: 17px;
  height: 98%;
  margin-left: 11px;
  padding-left: 5px;
}

.search-input::placeholder {
  color: #ABABAB;
}

.grid {
  border-right: none;
}

.title-bar {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  height: 100%;
  width: 100%;
  display: flex;
}

.title-box {
  margin: 0;
}

.job-title {
  font-size: 1.5em;
  margin: 45px 0 5px 31px;
}

.location {
  font-size: 1em;
  color: #919091;
  margin-left: 31px;
}

.preview-post {
  color: #84C2ED;
}

.button-box {
  margin-right: 10px;
}

.header-button {
  border: 1px solid #919091;
  border-radius: 25px;
  padding: 10px;
  display: inline-block;
  margin-right: 12px;
  }

.header-circle {
  border: 1px solid #919091;
  border-radius: 100%;
  padding: 10px;
  width: 40px;
  margin-right: 12px;
  text-align: center;
  display: inline-block;
}

.profile-menu {
  width: 100%;
  height: 100%;
  color: #BBBEC3;
  border-bottom: 1px solid #ABABAB;
}

.tabs {
  padding: 0;
}

.tab {
  display: inline;
  margin-left: 32px;
  font-size: .7em;
}

.more-info {
  display: none;
}

.summary {
  font-weight: bold;
  color: black;
}

.tab:hover {
  font-weight: bold;
  color: black;
  border-bottom: 2px solid #84C2ED;
  padding-bottom: 10px;
}

.graphics {
  background-color: #EEF1F6;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 60% 40%;
  grid-template-rows: 200px auto;
  justify-items: center;
}

.circles {
  margin:0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.circle {
  border-radius: 50%;
  border: 14px solid #DCE4EA;
  width: 150px;
  height: 150px;
  text-align: center;
  display: inline-block;
  padding-top: 37px;
  margin: 30px 10px;
}

.graph-number {
  font-size: 1.8em
}

.first {
  border-left-color: #70A5D2;
}

.second {
  border-left-color: #80C16F;
  border-bottom-color: #80C16F;
}

.third {
  border-left-color: #DD5A52; 
}

.UVA-graph {
  display: inline-block;
  width: 325px;
  height: auto;
  vertical-align: middle;
  margin: 10px;
  border: 1px solid grey;
}

.stat-totals {
  display: inline;
  border-radius: 25px;
  background-color: white;
  padding: 10px;
  border: 1px solid #919091;
  border-radius: 25px;
  margin-top: 30px;
}

hr {
  color: #919091;
}

.job-information {
  background-color: #EEF1F6;
  display: grid;
  grid-template-columns: 70% 30%;
  width: 100%;
  height: 100%;
}

.job-description {
  border: .5px solid grey;
  background-color: white;
  grid-row: 1 / 5;
  margin: 20px;
  display: grid;
  grid-template-columns: 40% 60%;
  grid-template-rows: 55px 55px 55px 55px 55px 55px auto 55px 55px;
  justify-content: start;
  color: #7F8BA4;
  font-size: .8em;
  }

.edit-box {
  background-color: #717E93;
  width: 100%;
  height: 100%;
  color: white;
}

.edit-color {
  background-color: #7F8BA4;
  padding: 9px;
  margin-top: 12px;
  width: 66px;
  height: 60%;
  display: inline-block;
}

.article-title {
  text-transform: uppercase;
  color: white;
  width: 100%;
  height: 100%;
  padding: 20px 0 0 10px;
  font-weight: bold;
  background-color: #717E93;
}

.article-key {
  text-transform: uppercase;
  width: 100%;
  height: 100%;
  background-color: white;
  padding-top: 20px;
  margin-left: 10px;
  font-weight: bold;
  border-bottom: 1px solid grey;
  font-size: 1.2em;
}

.article-body {
  width: 97%;
  height: 100%;
  background-color: white;
  padding: 20px 0;
  border-bottom: 1px solid grey;
  margin-right: 10px;
  font-size: 1.2em;
}


.president-image {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  vertical-align: middle;
}

.salary {
    border-bottom: 1px solid grey;
}

.aside {
  grid-row-start: 1 ;
  grid-row-end: 5;
  display: grid;
  grid-template-rows: 200px 200px 200px 200px auto;
  margin: 20px;
}

.aside-box {
  width: 100%;
  height: 100%;
}

.social-media-box {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
}

.social-media {
  padding: 17px;
  width: 100%;
  height: 53px;
  margin-bottom: 20px;
  color: white;
  border-radius: 4px;
}

.Facebook {
  background-color: #4E6FBD;
}

.Twitter {
  background-color: #46ABE7;
}

.LinkedIn {
  background-color: #327FB7;
}

.connect {
  border-bottom: 1px solid grey;
  padding-top: 20px;
  padding: 25px 0;
}

/*.link-job {
  padding-top: 0;
}*/

.resume {
  border-bottom: none;
}

h3 {
  color: #374050;
  font-size: 16px;
  margin: 10px 0;
}

.aside-text {
  color: grey;
  margin: 6px 0;
  padding-top: 10px;
  font-size: .8em;
}

.aside-input {
  line-height: 2;
  width: 79%;
  margin-top: 6px;
}

.resume-input {
  width: 100%;
}

label {
  background-color: #65B7BD;
  color: white;
  padding: 8px 4px;
}


@media screen and (max-width: 980px) {
 
  menu {
/*    background-color: yellow;*/
  }

  .UVA-graph {
    width: 270px;
  }

  .graph-number {
    font-size: 1.6em;
  }

  .circle {
    width: 120px;
    height: 120px;
    padding-top: 21px;
  }
  .tab {
    margin-left: 25px;
  }

  .social-media {
    padding: 20px;
  }

  .aside-input {
    line-height: 1.5;
  }

  label {
    padding: 6px 4px;
    font-size: .7em;
    vertical-align: middle;
  }

  h3 {
    font-size: 12px;
  }

  .aside-text {
    font-size: .7em;
  }

  .social-media {
    font-size: .8em;
  }
}

@media screen and (max-width: 795px) {

  menu {
/*    background-color: green;*/
  }

  ul li {
    display: none;
  }

  .menu-header {
    font-size: .9em;
  }

  .menu-arrow {
    display: inline;
  }

  .profile {
    padding: 15px 0;
  }

  menu {
    grid-row: 1 / 4;
  }

  .job-information, .graphics {
    grid-column: 1 / 3;
  }

    .location {
    font-size: .8em;
  }

  .header-circle {
    margin-right: 3px;
  }

  .header-button {
    margin-right: 3px;
  }

  .tab {
    margin-left: 7px;
  }

  .graphics {
    grid-template-columns: 50% 50%;
  }

  .circles {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }

  .circle {
    margin: 5px 10px 0 10px;
  }

  .third {
    justify-self: center;
    grid-column: 1 / 3;
    margin: -18px;
  }

  .article-body, .article-key {
    font-size: 1em;
  }

  .social-media {
    font-size: .6em;
  }

  .aside-input {
    width: 75%;
  }

  .resume-input {
    width: 100%;
  }

  .aside-box {
    text-align: center
  }

}


@media screen and (max-width: 607px) {

  menu {
/*    background-color: orange;*/
  }

  .user-name, .menu-header {
    font-size: 13px;
    padding-top: 11px;
  }

  .header-button {
    font-size: 14px;
    padding: 6px;
    display: block;
    text-align: center;
    margin-bottom: 10px;
  }

  .header-circle {
    padding: 6px;
    width: 32px;
  }

  .button-icon {
    height: 11px
  }

  .UVA-graph {
    width: 240px;
    margin-top: 25px;
  }

  .aside-input {
    line-height: 2;
    width: 79%;
    margin-top: 6px;
  }

  label {
    padding: 8px 4px;
    font-size: 1em;
  }

  .tab {
    margin-left: 12px;
  }
  
  .more-info {
    visibility: visible;
  }

  .tab {
    display: inline;
  }

  .seetab {
    visibility: hidden;
    display: inline;
  }

  .job-information {
    display: inline;
  }

  .resume-input {
    width: 88%;
  }

  .social-media, h3 {
    font-size: 1em;
  }
  


}

@media screen and (max-width: 525px) {

  .container {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50px 150px 160px 20px auto;
  }

  .search-bar {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
    display: initial;
  }

  .search-input {
    width: 100%;
  }

  .search-bar-icon {
    display: none;
  }

  menu {
/*    background-color: aqua;*/
    grid-column: 1 / 3;
    grid-row: 2 / 3;
    width: 100%;
    display: grid;
    grid-template-columns: 50% 50%;
  }

  .profile {
    border-right: 1px solid grey;
    border-bottom: none;
/*    grid-column: 1;*/
  }

  .main-menu-headers {
    padding: 10px;
  }

  .profile, .main-menu-headers {
    display: inline-block;
    height: 100%;
    margin: 0;
  }

  .user-name, .menu-header {
    font-size: 20px;
  }

  .title-bar {
    grid-column: 1 / 3;
    grid-row: 3 / 4;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 120px 40px;
    text-align: center;
  }

  .job-title {
    font-size: 2em;
    margin: 10px 0;
  }

  .location {
    margin: 0;
  }

  .button-box {
    margin: 0;
  }

  .header-button {
    display: inline;
  }

  .profile-menu {
    grid-column: 1 / 3;
    grid-row: 4 / 5;
  }

  .tabs {
    text-align: center;
  }

  .graphics {
    grid-column: 1 / 3;
    grid-row: 5 / 6;
    grid-template-columns: 100%;
    grid-template-rows: 230px 60px 210px 60px;
  }

  .circle-words {
    grid-row: 2 / 3;
    margin-top: 10px;
  }

  .UVA-graph {
    grid-row: 3 / 4;
    width: 300px;
    margin: 10px ;
  }

  .graph-words {
    grid-row: 4 / 5;
    margin-top: 10px;
  }

  .job-description {
    grid-template-columns: 100%;
    grid-template-rows: 30px 30px repeat(11, 40px) auto repeat(3, 40px);
    text-align: center;
  }

  .article-key, .article-title, .article-body {
    display: block;
    margin: 0;
    padding: 14px 0 9px 0;
    width: 100%;
  }

  .article-key {
    border-bottom: 1px dashed grey;
  }

  .article-body {
    border-bottom: 1px solid grey;
  }

  .edit-color {
    padding: 5px;
    margin-top: 0;
    height: 80%;
  }

  .aside-box,  {
    min-width: 210px
  }
}

