* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  margin: auto;
}

.container {
  display: grid;
  grid-template-columns: 15% 85%;
  grid-template-rows: 50px 150px 30px 290px auto;
/*  grid-gap: 1em;*/

}

.main {
  padding-top: 10px;
}
ul li {
  padding: 10px;
  font-size: .7em;
}

li:hover {
  color:white;
}

menu {
/*  display: grid;*/
/*  grid-column-start: 1 ;
  grid-column-end: 2;*/
  grid-row-start: 1 ;
  grid-row-end: 6;
  background-color: #374050;
  color: grey;
  height: 100%;
  width: 100%;
/*  justify-self: start;*/
  padding: 0;
  padding-left: 5px;
}

.profile {
  text-align:center;
  border-bottom: 1px solid black;
/*  padding-left: 0;*/
  padding: 30px 0;
}

.profile-picture {
  border-radius: 50%;
  width: 60px;
  height: 60px;
}

.icon-small {
  height: 15px;
  display: inline;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  text-transform: uppercase
}
.checkmark {
  height: 1em;
  width: auto;
}

.search-bar {
  display: grid;
  grid-template-columns: 50px auto 50px 50px 50px;
  grid-column: 2 / 3;
  grid-row: 1;
/*  background-color: aqua;*/
  width: 100%;
  border-bottom: 1px solid #ABABAB;
  height: 100%;
}

.search-bar-icon {
  color: grey;
  height: 50px;
  width: auto;
  padding: 15px;
  padding-left: 18px;
  margin: 0;
  border-right: .2px solid #ABABAB;
  vertical-align: middle;
}

.search-bar-icon:hover {
  background-color: #45A4EF;
}

.search-bar-icon:hover {
  background-color: #45A4EF;
  color: white;
}

.search-user {
  border-left: .2px solid #ABABAB;
  padding-left: 17px;
}

.search-input {
  background-image: url(Images/magnifying-glass.svg);
  background-size: 15px;
  background-repeat: no-repeat;
  background-position: left;
  border: none;
  text-indent: 17px;
  height: 98%;
  margin-left: 11px;
  padding-left: 5px;
}

.search-input::placeholder {
  color: #ABABAB;
/*  margin-top: 10px;*/
}

.title-bar {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  height: 100%;
  width: 100%;
  display: flex;

}

.title-box {
  margin: 0;
}

.job-title {
  font-size: 1.5em;
  margin: 45px 0 5px 31px;
}

.location {
  font-size: 1em;
  color: #919091;
  margin-left: 31px;
}

.preview-post {
  color: #84C2ED;
}

.button-box {
  margin-right: 10px;
}

.header-button {
  /*background-color: white;*/
  border: 1px solid #919091;
  border-radius: 25px;
  padding: 10px;
  display: inline-block;
  margin-right: 12px;
  }

.header-circle {
  border: 1px solid #919091;
  border-radius: 100%;
  padding: 10px;
  width: 40px;
  margin-right: 12px;
  text-align: center;
  display: inline-block;
}

.profile-menu {
  width: 100%;
  height: 100%;
/*  justify-self: start;*/
  color: #BBBEC3;
    border-bottom: 1px solid #ABABAB;
}

.tabs {
  padding: 0;
}

.tab {
  display: inline;
  margin-left: 32px;
  font-size: .7em;
}

.summary {
  font-weight: bold;
  color: black;
}
.tab:hover {
  font-weight: bold;
  color: black;
  border-bottom: 2px solid #84C2ED;
  padding-bottom: 10px;
}

.graphics {
  background-color: #EEF1F6;
  width: 100%;
  height: 100%;
/*  padding-left: 3%;*/
  display: grid;
  grid-template-columns: 55% 45%;
  grid-template-rows: 200px auto;
  justify-items: center;
}

/*.circle-graph {
  height:100px;
  width: auto;
}*/

.circles {
  margin:0;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;

}

.circle {
  border-radius: 50%;
  border: 14px solid #DCE4EA;
  width: 150px;
  height: 150px;
  text-align: center;
  display: inline-block;
  padding-top: 37px;
  margin: 30px 10px;
/*  margin-right: 10%;*/
}

.first {
  border-left-color: #70A5D2;
}

.second {
  border-left-color: #80C16F;
  border-bottom-color: #80C16F;
}

.third {
  border-left-color: #DD5A52; 
}

.UVA-graph {
  display: inline-block;
  width: 325px;
  height: auto;
  vertical-align: middle;
  margin: 10px;
/*  margin-left: 7%;*/
  border: 1px solid grey;
/*  justify-self: center;*/
}

.stat-totals {
  display: inline;
  border-radius: 25px;
  background-color: white;
  padding: 10px;
  border: 1px solid #919091;
  border-radius: 25px;
  margin-top: 30px;
}

hr {
  color: #919091;
}

.job-information {
  background-color: #EEF1F6;
  display: grid;
  grid-template-columns: 70% 30%;
/*  grid-column-gap: 40px;*/
 /* grid-template-rows: 1fr 1fr 1fr 1fr;*/
  width: 100%;
  height: 100%;
}

.job-description {
  border: 1px dashed black;
  background-color: white;
  grid-row: 1 / 5;
  margin: 20px;
  display: grid;
  grid-template-columns: 40% 60%;
  grid-template-rows: 55px 55px 55px 55px 55px 55px auto 55px 55px;
  justify-content: start;
/*  width: 100%;
  height: 100%;*/

  color: #7F8BA4;
  font-size: .8em;
  }

.edit-box {
  background-color: #717E93;
/*  padding: 5px;
  margin: 2px;*/
  width: 100%;
  height: 100%;
  color: white;
}

.edit-color {
  background-color: #7F8BA4;
  padding: 9px;
  margin-top: 12px;
  width: 66px;
  height: 60%;
  display: inline-block;
}

.article-title {
  text-transform: uppercase;
  color: white;
  width: 100%;
  height: 100%;
  padding: 20px 0 0 10px;
  font-weight: bold;
  background-color: #717E93;
}

.article-key {
  text-transform: uppercase;
  width: 100%;
  height: 100%;
  background-color: white;
  padding-top: 20px;
  margin-left: 10px;
  font-weight: bold;
  border-bottom: 1px solid grey;
}

.article-body {
  width: 97%;
  height: 100%;
  background-color: white;
  padding: 20px 0;
  border-bottom: 1px solid grey;
  margin-right: 10px;
}

.president-image {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  vertical-align: middle;
}

.aside {
  grid-row-start: 1 ;
  grid-row-end: 5;
  display: grid;
/*  grid-column-gap: 40px;*/
/*  grid-template-rows: 40px 40px 40px 40px;*/
  grid-template-rows: 1fr 1fr 1fr 1fr;
/*  grid-row-gap: 10px;*/
/*  height: 100%;*/
  margin: 20px;

}

.aside-box {
  width: 100%;
  height: 100%;
/*  background-color: ;*/
}

.social-media-box {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
}

.social-media {
  padding: 17px;
  width: 100%;
  height: 53px;
  margin-bottom: 20px;
  color: white;
  border-radius: 4px;
}

.Facebook {
  margin-top:;
  background-color: #4E6FBD;
}

.Twitter {
  background-color: #46ABE7;
}

.LinkedIn {
  background-color: #327FB7;
}

.connect {
  border-bottom: 1px solid grey;
  padding-top: 20px;
}

/*.link-job {
  padding-top: 20px;
}*/

.resume {
  border-bottom: none;
}

h3 {
  color: #374050;
  font-size: 1em;
  margin: 10px 0;
}

.aside-text {
  color: grey;
  margin: 10px 0;
  padding-top: 10px;
}

.aside-input {
  line-height: 2;
  width: 80%;
  margin-top: 10px;

}

.resume-input {
  width: 100%;
}

label {
  background-color: #65B7BD;
  color: white;
  padding: 8px;
}


@media screen and (max-width: 810px) {
 
  menu {
    background-color: yellow;
  }

}

